 .u-section-1 {
  background-image: linear-gradient(to right, #528769, #181818);
}

.u-section-1 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1 .u-group-1 {
  width: 366px;
  min-height: 470px;
  margin: 60px auto 60px 42px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 38px;
}

.u-section-1 .u-text-2 {
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}